.layout-container {
  max-width: 60em;
  margin: 0 auto;
  padding: 2em 2% 1em;
}

div.geshifilter {
  margin: .5em 0;
}

table {
  margin: 1em 0;
}

thead th {
  background: transparent !important;
  border-top: 0 !important;
}

blockquote {
  background: #f8f8f8;
  padding: 0 .5em;
}

.menu--main .menu {}

.menu--main .menu {
  list-style-type: none;
  padding: 0;
  margin-left: 0;
}

.menu--main .menu-item {
  display: inline-block;
  margin-right: 1em;
}

.menu--main .menu-item > a{
  display: inline-block;
  background: #f8f8f8;
  padding: .5em .75em;
}

.menu--main .menu a.is-active {
  color: #ababab;
}

.image-style-thumbnail {
  width: 40px;
  height: auto;
  border-radius: 40px;
}

.user--compact {
}
.user--compact .field--name-user-picture {
  float: left;
}
.user--compact .field--name-user-picture .image-style-thumbnail{
  width: 40px;
  height: auto;
  border-radius: 40px;
  margin-right: 2em;
}
